@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #191919;
}

i{
    margin: 5px;
    color: rgb(219, 240, 143);
    animation: piscando 1s infinite;
}

@keyframes piscando {
    0% {
      opacity: 0.2;
    }
    
    2% {
      opacity: 2;
    }
    
    4% {
      opacity: 0.5;
    }
    
    8% {
      opacity: 2;
    }
    
    28% {
      opacity: 2;
    }
    
    30% {
      opacity: 0.5;
    }
    
    36% {
      opacity: 2;
    }
    
    100% {
      opacity: 2;
    }
  }

.cute-box{
    display: flex;
    position: relative;
}

.msg{
    margin: 5px;
    padding: 5px;
    width: 67px;
    color: #191919;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    border-radius: 5px;
    text-align: center;    
    cursor: pointer;
}

.msg:hover{
    display: block;
    margin: 5px;
    padding: 5px;
    width: 67px;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    background-color: rgb(219, 240, 143);
    border-radius: 5px;
    text-align: center;
}

.text-box h1{
    color: #fff;
    margin-top: 80px;
    text-align: center;
    font-family: "Playwrite CU", cursive;
    cursor: pointer;
}

.text-box h1:hover{
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255)
} 

.text-box p{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 280px;
    height: 330px;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

/* Isso faz a barra que nós colocamos em .gallery sumir */
.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}

#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.text-box-footer h2{
    margin-top: 10%;
    margin-left: 80%;
    font-size: 15px;
    font-family: "Playwrite CU", cursive;
    cursor: pointer;
    color: #fff;
}

.text-box-footer h2:hover{
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

@media screen and (max-width: 730px){
    .gallery{
        width: 700px;
        display: block;
        overflow-x: scroll;
    }
    
    .gallery div{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        padding: 10px;
        flex: none;
    }
    
    .gallery div img{
        width: 280px;
        height: 300px;
        filter: grayscale(100%);
        transition: transform 0.5s;
    }
    
    /* Isso faz a barra que nós colocamos em .gallery sumir */
    .gallery::-webkit-scrollbar{
        display: none;
    }
    
    .gallery-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5% auto;
    }
    
    #backBtn, #nextBtn{
        width: 30px;
        cursor: pointer;
        margin: 20px;
    }
    
    .gallery div img:hover{
        filter: grayscale(0);
        cursor: pointer;
        transform: scale(1.1);
    }

    .text-box-footer h2{
        margin-top: 0;
        margin-left: 50%;
        margin-bottom: 30px;
        font-size: 15px;
        font-family: "Playwrite CU", cursive;
        cursor: pointer;
        color: #fff;
    }
    
    .text-box-footer h2:hover{
        text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
    }
    
}
